<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <title>B2BCBD.us - wholesale cbd isolate and cbd distillate wholesale broker</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">

  <!-- Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/animate.css" rel="stylesheet" />
  <!-- Squad theme CSS -->
  <link href="css/style.css" rel="stylesheet">
  <link href="color/default.css" rel="stylesheet">



  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54542129-5"></script>
  <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "UA-54542129-5")</script>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>


  <!-- =======================================================
    Theme Name: Squadfree
    Theme URL: https://bootstrapmade.com/squadfree-free-bootstrap-template-creative/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

  <!-- Preloader -->
  <div id="preloader">
    <div id="load"></div>
  </div>

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index.html">
          <h1>B2BCBD.us</h1>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">

        <ul class="nav navbar-nav">
          <li class="active"><a href="#intro">Home</a></li>
          <li><a href="#about">Our Team</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#service-formulation">Product Formulation</a></li>
                <li><a href="#service-cbd">CBD Isolate &amp; Distillate</a></li>
                <li><a href="#service-distribution">Worldwide Distribution</a></li>
                <li><a href="#service-sourcing">Supplier Sourcing</a></li>
              </ul>
            </li>  
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Section: intro -->
  <section id="intro" class="intro">

    <div class="slogan center-block">
      <span class="center-block"><img class="img-responsive" style="max-width:100%;max-height:100%;margin:auto"
          src="img/b2bcbd-logo-whitetxt-800x214.png"></span>
      <h4>Wholesale CBD Isolate & Distillate Manufacturer</h4>
      <h5 style="color: cornflowerblue">GMP Lab Certified - Highest Quality</h5>
      <h5 style="color: cornflowerblue">USA Customer Service - Worldwide Distribution</h5>
    </div>
    <div class="page-scroll">
      <a href="#service" class="btn btn-circle">
        <i class="fa fa-angle-double-down animated"></i>
      </a>
    </div>
  </section>
  <!-- /Section: intro -->

  <!-- Section: about -->
  <section id="about" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
              <div class="section-heading">
                <h2>Our Team</h2>
                <i class="fa fa-2x fa-angle-down"></i>
                B2BCBD.us specializes assisting contract manufacturers and independent nutraceutical brands
                in the Personal Health, Wellness, Beauty &amp; Pet product categories.
                Our friendly and knowlegible team is ready to assist in product formulation, labelling, and
                export considerations related to both CBD-A and THC-A green oils and isolates.
                B2BCBD.us can additionally integrate (mix) CBD isolate into sugar (such as icing) allowing the
                CBD to be safely exported worldwide.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid">

      <!-- a bit of padding -->
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>

      <div class="teamev row">
        <!-- 
        note: when adding a new person; please save their 200x200 picture in the img/team/  folder
        then copypasta the section below. 
        bounceInUp 
        -->

        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
            <div class="wow bounceInUp" data-wow-delay="0.2s">
              <div class="team boxed-grey">
                <div class="inner">
                  <h5>Brian Horakh</h5>
                  <p class="subtitle">APAC Sales</p>
                  <p class="subtitle">Melbourne, Australia</p>
                  <div class="avatar">
                  <img src="img/team/brianh-200x200-whitebg.png" alt=""
                  class="img-fluid img-circle"></div>
              </div>
             </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
          <div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Fabio Checchin</h5>
                <p class="subtitle">VP Worldwide Sales</p>
                <p class="subtitle">Airstream, USA</p>
                 <div class="avatar">
                  <img src="img/team/fabio2-200x200-whitebg.png" alt=""
                    class="img-fluid img-circle"></div>
              </div> 
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
          <div class="wow bounceInUp" data-wow-delay="0.2s">
            <div class="team boxed-grey">
              <div class="inner">
                <h5>Margaret Woodfield</h5>
                <p class="subtitle">Operations</p>
                <p class="subtitle">Airstream, USA</p>
                 <div class="avatar">
                  <img src="img/team/margaret-v1-300x300-whitebg.png" alt=""
                    class="img-fluid img-circle"></div>
              </div> 
            </div>
          </div>
        </div>




      </div>
    </div>
  </section>
  <!-- /Section: about -->


  <!-- Section: services -->
  <section id="service" class="home-section text-center bg-gray">

    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
              <div class="section-heading">
                <h2>What we do</h2>
                <i class="fa fa-2x fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- links from menu go here -->
    <section id="service-formulation"></section>
    <section id="service-cbd"></section>
    

    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>


      <div class="row servicev">
        <div class="col-sm-3 col-md-3 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/icons/service-icon-2.png" alt="">
              </div>
              <div class="service-desc">
                <h5>Product Strategy</h5>
                <p>B2BCBD has prepared a variety of materials to assist companies with planning their CBD formulation
                  and marketing label strategy. This includes labeling guidelines and dosage sizes.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-4">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/icons/service-icon-1.png" alt="">
              </div>
              <div class="service-desc">
                <h5>Biomass Acquisition</h5>
                <p>We bulk-purchase high-quality pesticide free organic Cannabis Ruderalias from US
                  based farmers and brokers for production into CBD Distillate Oil and CBD Isolate
                  Powder. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/icons/service-icon-2.png" alt="">
              </div>
              <div class="service-desc">
                <h5>CBD Isolate Powder & Distillate Oil</h5>
                <p>We utilize USA based bonded and insured contract manufacturing laboratories who
                  perform supercritical extraction which produces the highest quality CBD Isolate
                  Powder and Distillate Oil.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- links from menu go here -->
        <section id="service-sourcing"></section>
        <section id="service-distribution"></section>


        <div class="col-sm-3 col-md-3 col-lg-4">
          <div class="wow fadeInRight" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/icons/service-icon-4.png" alt="">
              </div>
              <div class="service-desc">
                <h5>Worldwide Delivery</h5>
                <p>Our CBD Isolate powder is water solutable and contains zero THC so it can be shipped
                  worldwide via UPS and DHL to manufacturer of products in the Consumable Health &
                  Wellness, Beauty and Skincare, and Pet (Canine, Feline, and Equine) product
                  categories. **Legality of Full Spectrum CBD Distillate Oil varies by Region.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/icons/service-icon-3.png" alt="">
              </div>
              <div class="service-desc">
                <h5>Sugar Encapsulation</h5>
                <p>Simply: CBD pre-mixed into sugar.
                  International Export of CBD can be greatly simplified by encapsulating CBD into other commodties such
                  as sugar.
                  Import restrictions vary by country; but having the option to encapsulate the CBD into a sugar also
                  causes a dilution of the CBD into pre-allocated dosages.
                  Sugar can be processed into cubes, crystals, rolled into balls, flakes, 
                  or placed in icing tubes. 
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 col-md-3 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon">
                <img src="img/icons/service-icon-4.png" alt="">
              </div>
              <div class="service-desc">
                  <h5>Supplier Sourcing</h5>
                <p>B2BCBD.us deals exclusively with contract manufacturers.
                  We do not create our own end-retail product formulations.
                  
              
                  We do offer 
                  100% nutraceutical supplement, beauty, pet, and candy products are made by our clients
                  
                  which contain B2BCBD.us trusted quality CBD Isolate and VGO into
                  the global product distribution networks. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- /Section: services -->





  <!-- Section: contact -->
  <div id="app">

    <section id="contact" class="home-section text-center">
      <div class="heading-contact">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="wow bounceInDown" data-wow-delay="0.4s">
                <div class="section-heading">
                  <h2>Get in touch</h2>
                  <i class="fa fa-2x fa-angle-down"></i>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container">

        <div class="row">
          <div class="col-lg-2 col-lg-offset-5">
            <hr class="marginbot-50">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="boxed-grey">

              <div v-bind:class="{ show:isSubmitted }" id="sendmessage">Your message has been sent. Thank you!</div>

              <div id="errormessage"></div>

              <form v-bind:class="{ hide:isSubmitted }" id="contact-form" role="form" class="contactForm"
                class="vue-form" @submit.prevent="submit">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">
                        Name</label>
                      <input type="text" v-model="name" name="name" class="form-control" id="name"
                        placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                      <div class="validation"></div>
                    </div>
                    <div class="form-group">
                      <label for="email">
                        Email Address</label>
                      <div class="form-group">
                        <input type="email" v-model="email" class="form-control"
                          :class="{ email , error: !email.valid }" name="email" id="email" placeholder="Your Email"
                          data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="subject">
                        Subject</label>
                      <input type="text" class="form-control" v-model="subject" name="subject" id="subject"
                        placeholder="Subject" data-rule="minlen:4"
                        data-msg="Please enter at least 8 chars of subject" />
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">
                        Message</label>
                      <textarea class="form-control" name="message" rows="5" v-model="message" data-rule="required"
                        data-msg="Please write something for us" placeholder="Message"></textarea>
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                      Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="widget-contact">
              <h5>Main Office</h5>

              <address>
                <strong>B2BCBD.us</strong><br>
                c/o <a href="http://elastic.ventures">Elastic.Ventures</a><br>
                30661 Valley Center Rd. #B<br>
                San Diego, CA. 92082<br>
                <abbr title="Phone">P:</abbr> +1 929-515-6544
              </address>

              <address>
                <strong>Email</strong><br>
                <a href="mailto:info@b2bcbd.us">info@b2bcbd.us</a>
              </address>
              <address>
                <strong>We're social</strong><br>
                <ul class="company-social">
                  <li class="social-facebook"><a href="http://fb.com/b2bcbd.us" target="_blank"><i
                        class="fa fa-facebook"></i></a></li>
                  <li class="social-instagram"><a href="https://www.instagram.com/explore/tags/elasticadventures"
                      target="_blank"><i class="fa fa-instagram-plus"></i></a></li>
                  <!--
                                <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                  -->
                </ul>
              </address>

            </div>
          </div>



        </div>
    </section>
  </div>
  <!-- /Section: contact -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="wow shake" data-wow-delay="0.4s">
            <div class="page-scroll marginbot-30">
              <a href="#intro" id="totop" class="btn btn-circle">
                <i class="fa fa-angle-double-up animated"></i>
              </a>
            </div>
          </div>
          <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade and @b</a>
            <p>©Copyright 2019l - Elastic.Ventures. All rights reserved.
              | <a style="color:#fff" href="./tos.txt">Terms of Service</a>
              | <a style="color:#fff" href="./privacypolicy.htm">Privacy Policy</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Core JavaScript Files -->


  <script type="text/javascript">
    // Regular expression from W3C HTML5.2 input specification:
    // https://www.w3.org/TR/html/sec-forms.html#email-state-typeemail
    var emailRegExp = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;

    import { randomCandidate } from 'vue-a2b'
    // pics a random candidate foo, bar, baz with 75%, 20%, 5% chance respectively
    const candidate = randomCandidate({
      foo: 75,
      bar: 20,
      baz: 5
    });

    new Vue({
      // root node
      el: "#app",
      // the instance state
      data: function () {
        return {
          candidate: candidate,
          name: "",
          email: "",
          subject: "",
          message: "",
          isSubmitted: false
        };
      },
      methods: {
        // submit form handler
        submit: function (e) {

          e.preventDefault();
          // this.name, this.email, this.subject, this.message 
          var body = JSON.stringify({ name: this.name, email: this.email, message: this.message });

          this.isSubmitted = true;

          $.ajax({
            type: "POST",
            url: 'https://0sdtjcuryj.execute-api.us-east-1.amazonaws.com/dev/email/send',
            contentType: 'application/json',
            data: JSON.stringify({
              'name': this.name,
              'email': this.email,
              'subject': this.subject, 
              'content': this.message
            }),
            success: function (res) {
              this.isSubmitted = true;
            },
            error: function () { 
              alert('an error has occurred!');
              this.isSubmitted = false;
            }
          });


        },
        // validate by type and value
        validate: function (type, value) {
          if (type === "email") {
            this.email.valid = this.isEmail(value) ? true : false;
          }

        },
        // check for valid email adress
        isEmail: function (value) {
          return emailRegExp.test(value);
        },
        // check or uncheck all
        checkAll: function (event) {
          this.selection.features = event.target.checked ? this.features : [];
        }
      },
      watch: {
        // watching nested property
        //"email.value": function(value) {
        //  this.validate("email", value);
        //}
      }
    });
  </script>


  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/wow.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="js/custom.js"></script>




</body>

</html>